.projects {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: space-between;
	align-items: center;

	& > div {
		width: 50%;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	& > div:first-child {
		border-right: 1px solid #d8d8d8;
		height: 100%;
	}

	& > div:last-child {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		overflow-x: scroll;
	}
}
