// COLORS

$primary-color: #2f6a9f;
$secondary-color: #fff;
$text-color: #424242;

// BORDERS
$border-radius: 5px;

// OTHERS
$box-shadow: 4px 4px 8px -3px rgba(66, 68, 90, 1);
$box-shadow-button: 3px 3px 14px -7px rgba(66, 68, 90, 1);
